name: Deploy React App
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.USR_TOKEN  }}

      - name: Set Image Tag
        run: |
          IMAGE_TAG=${GITHUB_REF_NAME,,}  # Lowercase branch name
          IMAGE_TAG=${IMAGE_TAG//[^a-z0-9._-]/-}  # Replace invalid characters
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
   - name: Build & Push Backend Image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: ghcr.io/IbrahimFattah/taskapp-backend:latest

      - name: Build & Push Frontend Image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: ghcr.io/IbrahimFattah/taskapp-frontend:latest
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to STAGING environment
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.BACKEND_SERVER_STAGING_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e 
            cd /root/ibrahim-docker-app
            docker login ghcr.io -u ${{ github.actor }} --password "${{ secrets.USR_TOKEN }}"
            docker pull ghcr.io/IbrahimFattah/taskapp-frontend:latest
            docker pull ghcr.io/IbrahimFattah/taskapp-backend:latest
            docker compose docker-compose.yml down
            docker compose  docker-compose.yml up  -d 
