
#1
name: Deploy Task App
on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write   # needed to push to GHCR

jobs:


  codeql:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      security-events: write

    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript

      - name: Build (JS does not always need this)
        run: |
          echo "No build step required."
      - name: Analyze
        uses: github/codeql-action/analyze@v3

  build:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.USR_TOKEN }}
     
      - name: Build & Push Backend Image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: ghcr.io/ibrahimalfattah/task-app-backend:latest

      - name: Scan Backend Image 
        uses: docker/scout-action@v1.18.2
        with:
          dockerhub-user: ${{ secrets.DOCKERHUB_USER }}
          dockerhub-password: ${{ secrets.DOCKERHUB_PSWD }}
          command: cves,quickview
          image:  ghcr.io/ibrahimalfattah/task-app-backend:latest
          sarif-file: backend-scout-findings.sarif
      
      - name: Build & Push Frontend Image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          build-args: |
            REACT_APP_API_URL=${{secrets.API_URL}}
          tags: ghcr.io/ibrahimalfattah/task-app-frontend:latest

      - name: Scan Frontend Image 
        uses: docker/scout-action@v1.18.2
        with:
          dockerhub-user: ibrahimabdelfattah34
          dockerhub-password: dckr_pat_U-_oKM5G-xUNEp6gqPw-hA9wPZI
          command: cves,quickview
          image:  ghcr.io/ibrahimalfattah/task-app-frontend:latest
          sarif-file: frontend-scout-findings.sarif

          
      - name: Upload Docker Scout Reports
        uses: actions/upload-artifact@v4
        with:  
          name: docker-scout-reports
          path: |
            backend-scout-findings.sarif
            frontend-scout-findings.sarif
  #    - name: Upload Scout SARIF Results
   #     uses: github/codeql-action/upload-sarif@v3
  #      with:
 #         sarif_file: .
